@import "./general";

.jumbo-container {
  //top: 0;
  //position: absolute;
  //margin-top: 50px;
  z-index: -1;
  position: relative;
  img {
    width: 100%;
  }
}

h1 {
  position: absolute;
  // bottom: 25%;
  //left: 10%;
  //top: 80%;
  margin-left: 8%;
  margin-top: -20%;
  color: #f9fafa;
  font-size: 4vw;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  //z-index: 1;
}
