@import "general";

.links {
  color: pink;
}

.hamburger-menu {
  position: relative;
  background-color: #98a4af;
  margin: 0 auto;
  top: 0;
  height: 50px;
  display: flex;
  max-width: 1024px;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 10%;
  color: #f9fafa;
  width: 100%;
  //max-width: 1024px;
  z-index: 75;
  font-size: 2.4rem;
  .hamburger {
    width: 32px;
    height: 21px;
  }
}

.nav-links {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(152, 164, 175, 0.9);
  height: 100vh;
  z-index: 5;
}

.links {
  align-self: center;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
