.service-intro {
  p {
    margin: 40px 0;
    line-height: 1.5;
    font-size: 1.3vw;
  }
}

.tabs {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
}
